@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <style type="text/css">
        #home {
            height: 800px;
            background-image: url("https://images.pexels.com/photos/2691478/pexels-photo-2691478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            color: #3FBFBF;
            font-family: 'Ephesis', cursive;
            font-size: 200px;
            text-align: center;
        }

        #landing-text {
            font-size: 5000px;
        }
    </style>
</head>
<body>
    <div id="home">
        <p>Rent a Car</p>
    </div>
</body>
</html>
